<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li>City: <%= farm.city %></li>
        <li>Email: <%= farm.email %> </li>
    </ul>
    <h2>Products</h2>
    <ul>
        <% for(let product of farm.products) {%>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
            <!-- <li>Price: £<%#= product.price %></li>
            <li>Category: <%#= product.category %></li> -->
        <% } %>

    </ul>

    <a href="/farms/<%=farm._id%>/products/new">Add Product</a>
    <a href="/farms">All Farms</a>
       <!-- Install method-override and use it to allow a DELETE method to be used in the form inside of express and use the attribute name for the method override (set in app.use) as a query string in the action. And MAKE SURE THE METHOD OF THE FORM IS A POST REQUEST-->
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>